<ion-header>
  <ion-toolbar style="--background: #45B8AC; --color: white">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button>Play</ion-button>
  <div class="row" id="card" *ngIf="this.dataService.timeLeft >= 0">
    <div class="col-md-12" [ngClass]="{card2: this.dataService.disable}">
      <h2 id="timer">{{this.dataService.timeLeft}}</h2>
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>{{qData[this.dataService.idx].ques}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list [ngStyle]="{display: 'flex', flexDirection: 'column'}">
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op1, ans: qData[this.dataService.idx].ans}"></app-option>
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op2, ans: qData[this.dataService.idx].ans}"></app-option>
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op3, ans: qData[this.dataService.idx].ans}"></app-option>
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op4, ans: qData[this.dataService.idx].ans}"></app-option>
          </ion-list>
        </ion-card-content>
      </ion-card>
  </div>
  </div>
</ion-content>

