<ion-header>
  <ion-toolbar style="--background: #45B8AC; --color: white">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="space"></div>
  <!-- <ion-button (click)="pauseTimer()">Play</ion-button> -->
  <!-- <div #square><ion-button>Play</ion-button></div> -->
  <div class="row" id="card" #card *ngIf="this.dataService.timeLeft >= -1">
    <div class="col-md-12" [ngClass]="{card2: this.dataService.disable}">

      <ion-fab slot="fixed" horizontal="center" vertical="top">
        <ion-fab-button>
          {{(this.dataService.timeLeft >= 0 && this.dataService.timeLeft <= this.dataService.timeLimit) ? this.dataService.timeLeft : (this.dataService.timeLeft <= -1 ? 0 : this.dataService.timeLimit)}}
        </ion-fab-button>
      </ion-fab>
      <!-- <h2 id="timer" *ngIf="this.dataService.timeLeft >= 0 && this.dataService.timeLeft <= this.dataService.timeLimit">{{this.dataService.timeLeft}}</h2>
      <h2 id="timer" *ngIf="this.dataService.timeLeft <= -1">0</h2>
      <h2 id="timer" *ngIf="this.dataService.timeLeft > this.dataService.timeLimit">{{this.dataService.timeLimit}}</h2> -->

      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>{{qData[this.dataService.idx].ques}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list [ngStyle]="{display: 'flex', flexDirection: 'column'}">
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op1, ans: qData[this.dataService.idx].ans}"></app-option>
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op2, ans: qData[this.dataService.idx].ans}"></app-option>
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op3, ans: qData[this.dataService.idx].ans}"></app-option>
            <app-option (updateIndex)="updateIndex()" [data]="{content: qData[this.dataService.idx].op4, ans: qData[this.dataService.idx].ans}"></app-option>
          </ion-list>
        </ion-card-content>
      </ion-card>
  </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
