ion-button{
  --background: #6B5B95;
}

.correct {
  --background: #88B04B;
}

.wrong {
  --background: #E15D44
}

button{
  --background: #6B5B95;
  width: 100%;
  border: 10 px solid;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  position: relative;

  display: block;
  margin: 10px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 200px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #6B5B95;
  color: #ecf0f1;

  transition: background-color .3s;
}

// .btn:hover, .btn:focus {
//   background-color: #27ae60;
// }

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}


/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

